/* line 2, ../_sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 4, ../_sass/desktop.scss */
h1.hero {
  font-size: 6.5em;
  margin: 0.3em 0 0.1em; }

/* line 9, ../_sass/desktop.scss */
.project {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  /* line 62, ../_sass/neat/grid/_grid.scss */
  .project:last-child {
    margin-right: 0; }

/* line 13, ../_sass/desktop.scss */
.pagination a {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%; }
  /* line 62, ../_sass/neat/grid/_grid.scss */
  .pagination a:last-child {
    margin-right: 0; }

/* line 17, ../_sass/desktop.scss */
.project h2 {
  font-size: 3.5em; }

/* line 21, ../_sass/desktop.scss */
header .avatar {
  display: block; }
